/* *circle_list.blade */
.sort-button {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.sort-button li {
    display: flex;
}
.sort-button li:not(:last-child) {
    margin-right: 5px;
}
.sort-button li input[type="radio"] {
    display: none;
}
ul li label {
    display: block;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 300;
    position: relative;
    padding: 2.5px 5px 2.5px 30px;
    height: 20px;
    z-index: 1;
    color: #474747;
}
.check {
    display: block;
    position: absolute;
    border: solid 3px #474747;
    border-radius: 100%;
    height: 19px;
    width: 19px;
    cursor: pointer;
}
.check::before {
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    content: "";
    border-radius: 100%;
    height: 13px;
    width: 13px;
    margin: auto;
}
input[type="radio"]:checked ~ .check {
    border-color: #37ad63;
}

input[type="radio"]:checked ~ .check::before {
    background: #37ad63;
}

input[type="radio"]:checked ~ label {
    color: #37ad63;
}
.circle-list {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15%;
}
.circle-wrap {
    position: relative;
    box-sizing: border-box;
    margin-bottom: 40px;
    border-radius: 5px;
    border: 0.05rem solid #c2c2c2;
    overflow: hidden;
}
.circle-image {
    width: 100%;
    object-fit: cover;
}
.circle-name {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: #474747;
    margin: 7px 0;
}
.authorization {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 60px;
}
.result {
    text-align: center;
    font-size: 1.5rem;
    padding: 5px 0;
    margin-bottom: 2rem;
    color: #006f37;
}
/* *end-circle_list.blade */

@media screen and (min-width: 600px) {
    .circle-list {
        display: flex;
        flex-wrap: wrap;
    }
    .circle-wrap {
        width: 48%;
        border: 0.07rem solid #c2c2c2;
    }
    .circle-wrap:nth-child(odd) {
        margin-right: 4%;
    }
}

@media screen and (min-width: 1025px) {
    .circle-wrap {
        width: 48%;
        margin-bottom: 60px;
    }
    .circle-wrap:nth-child(odd) {
        margin-right: 4%;
    }
}

@media screen and (min-width: 1150px) {
    .circle-wrap {
        width: 32%;
    }
    .circle-wrap:nth-child(odd) {
        margin-right: 0;
    }
    .circle-wrap:not(:nth-child(3n)) {
        margin-right: 2%;
    }
}
